<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Star University of Pakistan</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
    .navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}</style>
</head>
<body>
    <div class=" navbar-inverse navbar-fixed-top bg-dark ">
        <div class="container">
            <div class="navbar-header text-danger">

                @Html.ActionLink("Star University Of Pakistan","Index", "Student", new { area = "" }, new { @class = "navbar-brand " })
                @Html.ActionLink("My Profile", "ViewDetails", "Student", new { area = "" }, new { @class = "navbar-brand " })
                @Html.ActionLink("Apply For Admission", "AdmissionForm", "Student", new { area = "" }, new { @class = "navbar-brand " })
                @Html.ActionLink("Admission Status", "AdmissionStatus", "Student", new { area = "" }, new { @class = "navbar-brand " })
                <a class="navbar-brand justify-content-end" href="/Student/Logout">Log Out</a>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
  
        

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Sherazi</p>
            </footer>
        </div>
 

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    @RenderSection("Validation", false)
</body>
</html>