@using System.Data;
@Model
@{
    ViewBag.Title = "Student Merit List";
    Layout = "~/Views/Shared/_layout_Admin.cshtml";
}

<h2>Student Reports</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <div class="text-center"> @ViewBag.EmailError @ViewBag.delete @ViewBag.update</div>
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th>Student Report ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Session</th>
                <th>Category</th>
                

                <th>Print</th>
            </tr>
        </thead>
        <tbody>

            @{
                try
                {
                    foreach (var Row in Model.Rows)
                    {
                        <tr>

                            <td>@Row["StudentListID"].ToString()</td>
                            <td>@Row["Title"].ToString()</td>
                            <td>@Row["Description"].ToString()</td>
                            <td>@Row["Session"].ToString()</td>
                            <td>@Row["Category"].ToString()</td>
                          
                            <td><a target="_blank" href="/admin/printstudentadmissionlist?id=@Row["StudentListID"].ToString()&Title=@Row["Title"].ToString()&Description=@Row["Description"].ToString()&Session=@Row["Session"].ToString()&Category=@Row["Category"].ToString()"><i class="glyphicon glyphicon-print"></i></a></td>

                            
                        </tr>
                    }
                }
                catch (Exception ex)
                {

                    //throw;
                }


            }

        </tbody>

    </table>
</body>
</html>

<script>
    function Edit(id) {
    }


    function View(id) {
        alert(id);
    }
</script>